html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title  Order has successfully been created
    link(href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', href='../assets/styles/style.css', type='text/css')
  body(data-gr-c-s-loaded='true', style='')
    .template-wrapper
    table.body(border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td  
          td.container
            .content
              table.main
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              a.template-logo(href='https://pegasus.tataconsumer.com/tcp-logo.png')
                                img(src='https://pegasus.tataconsumer.com/tcp-logo.png')
                              br
                              p.lead
                                | Hello, 
                                br
                                br
                                if created_by 
                                  | An issue is reported by #{user_details.first_name} #{user_details.last_name} on behalf of distributor #{user_id} as follows:
                                else
                                  | An issue is reported by distributor #{distributor_name} (#{user_id}) as follows:

                              table(border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td.mt30.mb30(align='center')
                                      table(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              p.user-text
                                                span TSE Name :- #{tse.name}
                                                br
                                                span TSE Email :- #{tse.email}
                                                br
                                                br
                                                span Reference Number :- #{sr_no}
                                                br
                                                if error_code !== 'ERR-DBO-COMM-001-NOERR' 
                                                  span Error Code :- #{error_code || '<NOT AVAILABLE>'}
                                                  br
                                                if error_code !== 'ERR-DBO-COMM-001-NOERR' 
                                                  span Error Message :- #{error_message || '<NOT AVAILABLE>'}
                                                  br
                                                span Portal URL :- #{url || '<NOT AVAILABLE>'}
                                                br
                                                span Correlation Id :- #{corr_id || '<NOT AVAILABLE>'}
                                                br
                                                br
                                                if order_type
                                                  span Order Type :- #{order_type || '<NOT AVAILABLE>'}
                                                  br
                                                span Category Label :- #{category_label || '<NOT AVAILABLE>'}
                                                br
                                                span Category Description :- #{category_description || '<NOT AVAILABLE>'}
                                                br
                                                span User Remarks :- #{remarks || '<NOT AVAILABLE>'}

                              if error_info
                                p Please check attachment for more details on error.
                              br
                              p Thank you.
              table
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                             
                  .footer
                    table(border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td.content-block
                            p.text-center
                              | © 2021 Tata Consumer Products Limited
                              br
                              |  This is an automated email, please do not respond to this mail id.
                              //- a(href='#') unsubscribe
          td  