html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title  Mail sent to Distributors when stock in hand is lesser than safety stock 
    link(href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', href='../assets/styles/style.css', type='text/css')
  body(data-gr-c-s-loaded='true', style='')
    .template-wrapper
    table.body(border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td  
            table.main(width: '580px', Margin: '0 auto')
              tbody
                tr
                  td.wrapper
                    table(border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td
                            a.template-logo(href='https://pegasus.tataconsumer.com/tcp-logo.png')
                              img(src='https://pegasus.tataconsumer.com/tcp-logo.png')
                            br
                            br
                            p.lead
                              |Hello 
                              b #{content.dbName} (#{content.dbCode}),
                            br
                            p For some of your items the stock cover has fallen below #{content.emailType}. Accordingly an auto-order has been generated.
                            br
                            p You can review the same in the below link as well:
                            a.support-link(href=activate_url) Link to Order Portal for Review
                            br
                            br
                            p Thank you
            table
              tbody
                tr
                  td.wrapper
                    table(border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td
                            
                .footer
                  table(border='0', cellpadding='0', cellspacing='0')
                    tbody
                      tr
                        td.content-block
                          p.text-center
                            | © 2021 Tata Consumer Products Limited.
                            br
                            |  This is an automated email, please do not respond to this mail id.
                          
