html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title  Service delivery response has been successfully submitted.
    link(href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', href='../assets/styles/style.css', type='text/css')
  body(data-gr-c-s-loaded='true', style='')
    .template-wrapper
    table.body(border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td  
          td.container
            .content
              table.main
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              a.template-logo(href='https://pegasus.tataconsumer.com/tcp-logo.png')
                                img(src='https://pegasus.tataconsumer.com/tcp-logo.png')

                              p.lead
                                | Dear #{user.distributor_name} (#{user.distributor_id}), 
                                br
                                br
                                | Thank you for contacting us, below are the details for your reference.

                              table(border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td.mt30.mb30(align='center')
                                      table(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              p.user-text
                                                span  SD Number :- #{user.sd_number || '<NOT AVAILABLE>'}
                                                br
                                                span  SD Request Date :- #{user.sd_request_date || '<NOT AVAILABLE>'} 
                                                br
                                                span  SO Number :- #{user.so_number || '<NOT AVAILABLE>'} #{user.tseareacode}
                                                br
                                                span  Material :- #{user.material_code || '<NOT AVAILABLE>'}
                                                br
                                                span  Material Description :- #{user.material_description || '<NOT AVAILABLE>'}
                                                br
                                                span  Plant Code :-  #{user.plant_code || '<NOT AVAILABLE>'}
                                                br
                                                span  Reason :- #{user.req_reason || '<NOT AVAILABLE>'}
                                                br
                                                span  Issue Details :- #{user.sd_req_comments || '<NOT AVAILABLE>'}
                                                br
                                                span  CFA Response date :- #{user.sd_response_date || '<NOT AVAILABLE>'}
                                                br    
                                                span  CFA Response reason :- #{user.cfa_reason || '<NOT AVAILABLE>'}
                                                br
                                                span  CFA Additional comments :- #{user.sd_res_comments || '<NOT AVAILABLE>'}
                                                br
                                                br                            
                                                a.support-link(href=url) Click to visit Order Portal
                                                br
                                                br
                                              
                                      //- table.data-grid-table.table(style='font-size:14px;text-align:left;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;width: 100%;{{msohideall}}' cellpadding='5' cellspacing='0' border='1' bordercolor='#dddddd')
                                      //-     tr 
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Material
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Material Code 
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Quantity 
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Sales Unit
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Pack Type
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Quantity in BUOM
                                      //-       th(style='text-align:center;text-transform:uppercase;color:#ffffff;font-weight:normal' bgcolor='#1268b3')  Tentative Amount in Rs.
                                      //-     each val in user.items
                                      //-       tr
                                      //-         td #{val.DESCRIPTION}
                                      //-         td #{val.MATERIAL}
                                      //-         td #{val.REQ_QTY}
                                      //-         td #{val.SALES_UNIT}
                                      //-         td #{val.PACK_TYPE}
                                      //-         td #{val.BUOM}
                                      //-         td #{val.TENTATIVE}

                              p Hope we have been able to resolve your issue.
                              p Thank you
                             
              //- table.help-section
              //-   tbody
              //-     tr
              //-       td.wrapper
              //-         table(border='0', cellpadding='0', cellspacing='0')
              //-           tbody
              //-             tr
              //-               td
              //-                 h2.text-center.mb0 Need more help?
              //-                 a.support-link(href='#') We're here,ready to here
              table
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                             
                  .footer
                    table(border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td.content-block
                            p.text-center
                              | © 2021 Tata Consumer Products Limited.
                              br
                              |  This is an automated email, please do not respond to this mail id.
                              //- a(href='#') unsubscribe 
          td  
